[submodule "halo_submit"]
	path = halo_submit
	url = ./reference/halo_submit/
[submodule "reference/halo_submit"]
	path = reference/halo_submit
	url = ./reference/halo_submit
[submodule "src/rockstar_abg/gizmo_analysis"]
	path = src/rockstar_abg/gizmo_analysis
	url = ./src/rockstar_abg/gizmo_analysis
[submodule "src/rockstar_abg/halo_analysis"]
	path = src/rockstar_abg/halo_analysis
	url = ./src/rockstar_abg/halo_analysis
[submodule "src/rockstar_abg/utilities"]
	path = src/rockstar_abg/utilities
	url = ./src/rockstar_abg/utilities
[submodule "src/rockstar_abg/executables/rockstar-galaxies"]
	path = src/rockstar_abg/executables/rockstar-galaxies
	url = ./src/rockstar_abg/executables/rockstar-galaxies
        ignore = untracked
[submodule "src/rockstar_abg/executables/consistent-trees"]
	path = src/rockstar_abg/executables/consistent-trees
	url = ./src/rockstar_abg/executables/consistent-trees
        ignore = untracked
